{% load static %}
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>👾Riddle API</title>
    <meta name="description" content="An API to get random riddles?">
    <meta name="author" content="Raphael Apeh">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>


</head>

<body>

    <div class="navbar clear nav-top">
        <div class="row content">
            <a href="{{ request.path }}">👾Riddle API</a>
            <a class="right" style="text-decoration: underline;" href="{{ request.path }}"><i class="fas fa-book"></i>&nbsp; Source code</a>
            <a class="right" href="mailto:raphaelapeh37@gmail.com" target="_blank"><i class="fas fa-paper-plane"></i>&nbsp; raphaelapeh37@gmail.com</a>
        </div>
    </div>

    <div class="container clear">
        <div class="row wrapper">

            <div class="sidepanel">

                <a class="title" href="https://github.com/RaphaelApeh">Github</a>
             <a class="title" href="https://github.com/RaphaelApeh">LinkedIn</a>
            </div>

            <div class="right-col">
                <h1>Riddle Route 🧩</h1>
                
                <p><pre>{{ url }}</pre></p> 

                <h2>Response</h2>
                <p>Return a random riddle instance</p>
                <p id="technology"><pre><code lang="json">{"riddle": "What kind of coat can be put on only when wet?",
        "answer": "A coat of paint"}</code></pre></p> 
                 
        <div class="divider" style="width:24%; margin:30px 0;"></div>
        <footer class="footer">
            <div class="container text-center py-5">
              <small class="copyright">Developed with ❤️ by
                <a class="theme-link" href="https://github.com/RaphaelApeh" target="_blank">Raphael Apeh</a>
                for developers <br></small>
            </div>
          </footer>
            </div>

        </div>


    </div>


</body>

</html>
